*{ margin:0; padding:0; border:0; outline:0; }
body{ margin:0; padding:0; }
.clearer{ clear:both }
.hr{ clear:both; width:100%; height:1px; background:#e4e2e2; }
.top{ width:100%; height:34px; border-bottom:solid 1px #e3e1e1 }
.top .center{ margin:0 auto; width:1200px; height:34px; }
.top .center .newsSlide{ width:570px; height:34px;  float:left; }
.top .center .newsSlide span{ line-height:34px; font-size:12px; color:#666666 }
.top .center .newsSlide span a{ line-height:34px; font-size:12px; color:#666666;  }
.top .center .userArea{ margin:0; padding:0; width:630px; line-height:34px; float:right;  }
.top .center .userArea .list{ margin:0; padding:0 10px; min-width:80px; height:34px; line-height:34px; font-size:14px; float:right;  }
.top .center .userArea .list a{ margin:0; padding:0; line-height:34px; font-size:14px; color:#666666; text-decoration:none  }
.top .center .userArea .list a:hover{ text-decoration:underline; color:#f1696f }
.top .center .userArea .myAccount .span{ margin:10px 5px; padding:0; width:13px; height:11px; float:left; background-image:url('../images/sprite.png'); background-position:0px 0px; background-repeat:no-repeat;  }
.top .center .userArea .myFavorites .span{ margin:10px 5px; padding:0; width:13px; height:11px; float:left; background-image:url('../images/sprite.png'); background-position:-13px 0px; background-repeat:no-repeat;  }
.header{ margin:0 auto; width:1200px; height:160px; }
.header .logo{ margin:18px 0 0 0; width:175px; height:74px; float:left; }
.header .logo a{ width:175px; height:74px; display:block; }
.header .logo a img{ width:175px; height:74px; outline:0; border:0; }
.header .hotline{  margin:0 0 0 0; width:200px; height:74px; float:right; }
.header .hotline span{  line-height:74px; font-size:16px; color:#666666; }
.header .hotline span a{  line-height:74px; font-size:16px; color:#f96a6e; }
.header .userArea{ margin:0 auto; padding:0; width:200px; text-align:center; display:none; }
.header .userArea .list{ margin:0; padding:0 10px; width:180px; height:34px; line-height:34px; font-size:14px;  }
.header .userArea .list a{ margin:0; padding:0; line-height:34px; font-size:14px; color:#666666; text-decoration:none  }
.content{ margin:0 auto; width:1200px; }
.content .left{ margin:10px 0px; width:273px; float:left; border:solid 1px #e3e1e1; }
.content .left .title{ width:273px; line-height:50px; text-align:left; font-size:14px; color:#f96a6e;  }
.content .left .title .span{ height:25px; float:left; text-align:left; font-size:14px; margin:10px; border-left:solid 5px #f96a6e;  }
.content .left ul{ margin:0; padding:0; list-style-type:none; }
.content .left ul li{ margin:0px 10px; padding:0px; width:253px; line-height:35px; border-bottom:solid 1px #f2f2f2; float:left;  }
.content .left ul li a{ margin:0; padding:0; line-height:35px; font-size:12px; color:#555555; text-decoration:none }
.content .left ul li a:hover{ color:#f96a6e; text-decoration:underline }
.content .right{ margin:10px 0px 10px 18px; width:905px; float:left; border:solid 1px #e3e1e1; }
.content .right .searchBox{ margin:10px; padding:0; width:905px; }
.content .right .searchBox .search_form{ margin:0; padding:0; width:883px; border:solid 1px #f96a6e; }
.content .right .searchBox .search_form .select{ margin:0; padding:0 10px; width:230px; height:30px; line-height:30px; font-size:14px; float:left; position:relative; background-image:url('../images/s.png'); background-position:right center; background-repeat:no-repeat; cursor:pointer; }
.content .right .searchBox .search_form .select ul{ padding:0 10px; width:218px; height:auto; list-style-type:none; position:absolute; top:30px; left:0; border:solid 1px #f2f2f2; display:none; background:#f96a6e; }
.content .right .searchBox .search_form .select ul li{ padding:0; width:218px; height:30px; float:left; color:#ffffff; border-bottom:solid 1px #ffffff; }
.content .right .searchBox .search_form .select ul li:last-child{ border-bottom:none !important }
.content .right .searchBox .search_form input[type="text"]{ margin:0; padding:0; width:513px; height:30px; line-height:30px; float:left; margin-left:15px; }
.content .right .searchBox .search_form input[type="submit"]{ margin:0; padding:0; border:0; outline:0; width:90px; height:30px; float:left;margin-left:15px; background:#f96a6e; color:white; text-align:center; }

@media (max-width: 1200px) {
	/* CSS Rules used when query matches */
	.top .center{ width:90%; float:left; margin-left:5%; }
	.top .center .newsSlide{ width:100%; text-align:center; overflow:hidden }
	.top .center .userArea{ display:none }
	.header{ width:100%; height:auto !important; }
	.header .logo{ width:100%; float:left; margin-left:-87.5px; position:relative; left:50%; top:0px; }
	.header .hotline{ width:100%; margin:0px !important; float:none; text-align:center }
	.header .userArea{ display:block; margin-top:25px; }
	.header .userArea .list a:hover{ text-decoration:underline; color:#f1696f }
}