*{ margin:0; padding:0; border:0; outline:0; }
body{ margin:0; padding:0; }
.clearer{ clear:both }
.hr{ clear:both; width:100%; height:1px; background:#e4e2e2; }
.top{ width:100%; height:34px; border-bottom:solid 1px #e3e1e1 }
.top .center{ margin:0 auto; width:1200px; height:34px; }
.top .center .newsSlide{ width:570px; height:34px;  float:left; }
.top .center .newsSlide span{ line-height:34px; font-size:12px; color:#666666 }
.top .center .newsSlide span a{ line-height:34px; font-size:12px; color:#666666;  }
.top .center .userArea{ margin:0; padding:0; width:630px; line-height:34px; float:right;  }
.top .center .userArea .list{ margin:0; padding:0 10px; min-width:80px; height:34px; line-height:34px; font-size:14px; float:right;  }
.top .center .userArea .list a{ margin:0; padding:0; line-height:34px; font-size:14px; color:#666666; text-decoration:none  }
.top .center .userArea .list a:hover{ text-decoration:underline; color:#f1696f }
.top .center .userArea .myAccount .span{ margin:10px 5px; padding:0; width:13px; height:11px; float:left; background-image:url('../images/sprite.png'); background-position:0px 0px; background-repeat:no-repeat;  }
.top .center .userArea .myFavorites .span{ margin:10px 5px; padding:0; width:13px; height:11px; float:left; background-image:url('../images/sprite.png'); background-position:-13px 0px; background-repeat:no-repeat;  }
.header{ margin:0 auto; width:1200px; height:160px; }
.header .logo{ margin:18px 0 0 0; width:175px; height:74px; float:left; }
.header .logo a{ width:175px; height:74px; display:block; }
.header .logo a img{ width:175px; height:74px; outline:0; border:0; }
.header .hotline{  margin:0 0 0 0; width:200px; height:74px; float:right; }
.header .hotline span{  line-height:74px; font-size:16px; color:#666666; }
.header .hotline span a{  line-height:74px; font-size:16px; color:#f96a6e; }
.header .userArea{ margin:0 auto; padding:0; width:200px; text-align:center; display:none; }
.header .userArea .list{ margin:0; padding:0 10px; width:180px; height:34px; line-height:34px; font-size:14px;  }
.header .userArea .list a{ margin:0; padding:0; line-height:34px; font-size:14px; color:#666666; text-decoration:none  }

@media (max-width: 1200px) {
	/* CSS Rules used when query matches */
	.top .center{ width:90%; float:left; margin-left:5%; }
	.top .center .newsSlide{ width:100%; text-align:center; overflow:hidden }
	.top .center .userArea{ display:none }
	.header{ width:100%; height:auto !important; }
	.header .logo{ width:100%; float:left; margin-left:-87.5px; position:relative; left:50%; top:0px; }
	.header .hotline{ width:100%; margin:0px !important; float:none; text-align:center }
	.header .userArea{ display:block; margin-top:25px; }
	.header .userArea .list a:hover{ text-decoration:underline; color:#f1696f }
}